html {
    background-color: #333;
    color: aliceblue;
}
.title{
    position: relative;
    bottom: 10vh;
    left: 30vh;
    font-size: 20vh;
}

.Revi{
    height: 50vh;
    position: absolute;
    top:20vh;
    bottom: 20vh;
    left:160vh;
}
.Revi2{
    height: 50vh;
    position: absolute;
    top:80vh;
    bottom: 30vh;
    left: 130vh;
}

@keyframes scrollUp {
    0% {
        opacity: 0;
        transform:translateY(10px);
        -webkit-transform:translateY(10px);
        -moz-transform:translateY(10px);
        -ms-transform:translateY(10px);
        -o-transform:translateY(10px);
        -webkit-transform:matrix3d();
} 100%{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
}




.p1, .p2, .p3{
    visibility: hidden;
    opacity: 0;
}
.p1{
    bottom: 20vh;
    font-size:3vh;
    position: relative;
    left: 20vh;
    animation: scrollUp 1s ease-out forwards;
    -webkit-animation: scrollUp 1s ease-out forwards;
    max-width: 100vh;
    visibility: visible;
    opacity: 1;
}


.p2{
    bottom: 15vh;
    font-size:3vh;
    position: relative;
    left: 20vh;
    
    animation: scrollUp 1s ease-out forwards;
    -webkit-animation: scrollUp 1s ease-out forwards;
    max-width: 100vh;
    animation-delay: 1s;
    visibility: visible;
    opacity: 0;
}

.p3{
    bottom: 10vh;
    font-size:3vh;
    position: relative;
    left: 20vh;
    animation: scrollUp 1s ease-out forwards;
    -webkit-animation: scrollUp 1s ease-out forwards;
    max-width: 100vh;
    animation-delay: 2s;
    visibility: visible;
    opacity: 0;
}